footer{
    margin-top: 40px;
    background: rgb(2, 0, 36);
    background: linear-gradient(0deg, rgba(41, 157, 142, 1) 0%, rgba(39, 70, 83, 1) 100%);
    display: flex;
    flex-direction: column;
}
.made{
    text-align: center;
    padding: 8px 0 32px 0;
}
.redes{
    text-align: center;
    margin: 0;
    padding-top: 32px;
}
footer ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-top: 16px;
}
footer ul li {
    list-style: none;
    margin: 8px;
}
footer ul img{
    width: 25px;
    margin: 0 16px;
}